@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background-color: black;
  color: white;
  font-family: "Advent Pro";
  overflow-x: hidden;
}

html {
  cursor: url("/img/cursor.png") 18 18, auto;
  background-color: black;
}

blockquote {
  margin: 30px auto;
  padding: 0 20px 20px 20px;
  border-left: 8px solid currentColor;
  font-style: italic;
}

blockquote::before{
  font-family: Arial;
  content: "\201C";
  color: currentColor;
  font-size: 4em;
}

blockquote::after{
  content: '';
}