#menuArea {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
}

#menuArea input {
  display: none;
}

.open {
  background-color: white;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  top: 8px;
}

.open:before {
  content: "";
  background-color: white;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: white;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  margin-top: 25px;
  margin-right: 5px;
  padding-bottom: 25px;
  cursor: pointer;
  position: absolute;
  right: 25px;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  color: #ff8702;
  text-decoration: none;
  transition: color 0.2s;
  font-family: "Harabara";
  text-transform: lowercase;
  padding: 10px 0;
  font-weight: 900;
}

.menu ul li:hover {
  opacity: 0.1;
  background: -moz-radial-gradient(center, ellipse cover, gray 0%, rgba(125, 185, 232, 0) 20%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, gray 0%, rgba(125, 185, 232, 0) 20%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, gray 0%, rgba(125, 185, 232, 0) 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: white;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}

.brand {
  position: absolute;
  float: left;
}

.brand #nav-logo {
  position: absolute;
  width: 70px;
  top: 0;
  left: 0;
  min-width: 36px;
}

.brand #nav-title {
  position: absolute;
  top: 16px;
  left: 55px;
  margin-top: 10px;
  margin-left: 12px;
  padding: 0;
  display: block;
  width: 200px;
}

.brand #nav-title h3 {
  text-decoration: none;
  color: orange;
  line-height: 16px;
  font-size: 27px;
  font-family: "Harabara";
}

.brand #nav-subtitle {
  text-decoration: none;
  color: darkslategray;
  line-height: 16px;
  font-size: 27px;
  font-family: "Harabara";
  text-transform: lowercase;
}

.brand #nav-title h3:hover {
  text-decoration: none;
  font-size: 30px;
}
